#register_wrapper
{
	float: left;
	width: 70%;
	font-size: 13px;
}

#mode_form, #add_item_form
{
	position: relative;
	width: 100%;
	padding: 10px 5px 10px 5px;
}

#mode_form
{
	background-color: #DDD;
	padding-bottom: 15px;
}

#mode_form label
{
	font-weight: bold;
	margin: 0px 5px 0px 5px;
}

#sales_takings_button, #show_suspended_sales_button, #new_item_button
{
	position: relative;
	bottom: 4px;
}

#sales_takings_button
{
	margin-right: 5px;
}

#add_item_form
{
	background-color: #BBB;
}

#add_item_form input
{
 	border: 1px solid #CCC;
 	padding: 2px;
}

#add_item_form label
{
	font-weight: bold;
	margin: 0px 5px 0px 5px;
}

#customer_label
{
	font-weight: bold;
}

#register
{
	position: relative;
	width: 100%;
	padding: 0px;
	border-collapse: collapse;	
}

#register th
{	
	background-color: #999;
	padding: 5px;
	text-align: center;
	color: #FFF;
}

#register td
{
	background-color: #EEE;
	padding: 3px;
	text-align: center;
}

#overall_sale
{
	float: left;
	margin-left: 4px;
	background-color: #BBB;
	width: 28%;
	padding: 5px;
	font-size: 13px;
}

#sale_details
{
	position: relative;
	width: 100%;
	margin-top: 5px;
	border-top: 2px solid #000;
}

#finish_sale
{
	position: relative;
}

#payment_details
{
	float: left;
	width: 100%;
	margin-top: 5px;
	border-top: 2px solid #000;
	background-color: #DDD;
	margin-bottom: 0px;
	clear: both;
}

#cancel_sale
{
	float: left;
	width: 100%;
	margin-top: 5px;
	clear: both;
}

#suspended_sales_table
{
	width: 100%;
}

#credit_card_form fieldset 
{
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0; 
}

#credit_card_form fieldset div 
{
	float: left; 
}

#credit_card_form fieldset.centered div 
{
	text-align: center; 
}

#credit_card_form label 
{
	display: block;
	margin-bottom: 5px; 
}

#credit_card_form input.text 
{
	border: 1px solid #bfbab4;
	margin: 0 4px 8px 0;
}