#report_list li ul li
{
	margin-left: 35px;
}
#report_date_range_simple
{
	margin-bottom: 3px;
}
.report 
{
	font-size: .85em;
}
#report_summary
{
	margin: 0 auto;
	text-align: center;
}

#report_summary .summary_row
{
}

#chart_wrapper
{
	text-align: center;
}