#titleTextImg
{
	background-color: transparent;
	height: 30px;
	position: relative;
	
    //background-color: #EEEEEE;
}

#search_filter_section
{
	background-color: transparent;
	position: relative;
	
    //background-color: #EEEEEE;
}

#table_action_header
{
	position:relative;
	width:100%;
	background-color: transparent;
	background-image:url(../images/checkbox_arrow.gif);
	height:35px;
	border: 0;
	background-position:5px 10px;
	background-repeat:no-repeat;	
	padding:5px 0px 5px 0px;
}

#table_action_header ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	margin-left:15px;
}

#table_action_header ul li
{
	margin-left:8px;
	margin-right:4px;
	
}

#table_action_header ul li span a
{
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: #aaa;
	padding:2px 5px 2px 5px;
	
}

#table_action_header ul li span a:hover
{
	color: #555;
}

#table_action_header a
{
	text-decoration:none;
	color:#FFF;	
}

#search_filter_section
{
	padding: 5px;
	margin-bottom: 10px;
}

#table_holder
{
	position:relative;
	margin-bottom:50px;
}

table.tablesorter 
{
	position: relative;
	width: 100%;
	border: 0;
	border-collapse: collapse;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th 
{
	color:#FFFFFF;
	text-align:left;
	background-color:#999999;
	padding: 8px;
}

table.tablesorter thead tr .header 
{
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td 
{
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 8px;
	border-bottom:1px solid #DDDDDD;
}

table.tablesorter tbody td.over
{
	background-color: #F5F5F5;
}

table.tablesorter tbody td.selected
{
	background-color: #ECECEC;
}

table.tablesorter thead tr .tablesorter-headerAsc 
{
	background-image: url(../images/tables/asc.gif);
	background-repeat:no-repeat;
	background-position: right; 
}

table.tablesorter thead .tablesorter-headerDesc 
{
	background-image: url(../images/tables/desc.gif);
	background-repeat:no-repeat;
	background-position: right; 
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp 
{
	background-color: #555555;
}

table.innertable
{
	display: none;
	width: 100%;
}

table.innertable thead tr th 
{
	background-color: #999999;
}

table.innertable tbody tr td 
{
	background-color: #DDD;
}

.totals table tr:last-child td
{
	font-weight: bold;
}

#pagination a, #pagination strong
{
	padding: 2px 3px;
}