node_modules
tmp
app/Config/Email.php
*.patch
patches/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
.settings/*
.git
dist/
node_modules/
*.swp
*.rej
*.orig
*~
*.~
*.log
app/writable/session/*
!app/writable/session/index.html

