node_modules
tmp
database/database.sql
database/migrate_phppos_dist.sql
application/config/email.php
application/sessions/*
application/logs/*
application/uploads/*
public/license/.licenses
public/license/bower.LICENSES
public/dist
dist/
docs/
public/bower_components
*.patch
patches/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
.settings/*
vendor/
*.swp
*.rej
*.orig
*~
*.~
*.log
.env
