node_modules
tmp
database/database.sql
database/migrate_phppos_dist.sql
application/config/email.php
application/sessions/*
application/logs/*
application/uploads/*
public/license/.licenses
public/license/bower.LICENSES
public/dist
generate_langauges.php
dist/
docs/
public/bower_components
npm_modules
*.patch
patches/
translations/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
.settings/*
vendor/
*.swp
*.rej
*.orig
*~
*.~
*.log
.env
package-lock.json
auth.json
!/docker/.env
/docker/data/database/db/*
/docker/data/certbot/conf/*
/docker/data/ospos/app/*
