<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "../vendor/autoload.php"
    backupGlobals               = "false"
    colors                      = "true"
    processIsolation            = "false"
    stopOnFailure               = "false">

<testsuites>
    <testsuite name="Helpers">
        <directory>helpers</directory>
    </testsuite>
</testsuites>

</phpunit>
