/* Standard Dekstop Styling */
html {
    height: -webkit-fill-available; /* Prevent mobile webkit browsers from dropping footer behind the navigation bar */
  }
  
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available; /* Prevent mobile webkit browsers from dropping footer behind the navigation bar */
  }
  
  nav {
      overflow-x: auto;
  }
  
  nav img {
    height: 2.5em;
  }
  
  .active a {
    margin-bottom: -2px;
    margin-left: -2px;
    margin-right: -2px;
  }
  
  .active img {
    margin-top: -2px;
  }
  
  section > div {
    flex-basis: 10%;
    white-space: nowrap;
  }
  
  section a {
    text-decoration: none;
  }
  
  section > div img {
    transition: all .1s ease-in-out;
  }
  
  section > div:hover img {
    transform: scale(1.05);
  }
  
  section > div:hover .tile-text span {
    filter: invert(.25);
  }
  
  section img {
    height: 6em;
  }
  
  @media (max-width: 991.98px) {
    nav img {
      height: 1.5em;
    }
  }
  