/* Standard Dekstop Styling */
html {
  height: -webkit-fill-available; /* Prevent mobile webkit browsers from dropping footer behind the navigation bar */
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available; /* Prevent mobile webkit browsers from dropping footer behind the navigation bar */
}

nav img {
  height: 2.5em;
}

section > div {
  flex-basis: 10%;
  white-space: nowrap;
}

section a {
  text-decoration: none;
}

section > div img {
  transition: all 0.1s ease-in-out;
}

section > div:hover img {
  transform: scale(1.05);
}

section > div:hover .tile-text span {
  filter: invert(0.25);
}

section img {
  height: 6em;
}

@media (min-width: 992px) {
  .active a {
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 991.98px) {
  .container-navbar {
    padding-left: 0;
    padding-right: 0;
  }

  nav img {
    height: 1.5em;
  }

  #navbar:last-child {
    padding-bottom: 0.5em;
  }
}

#configs-list-tab,
#configs-dropdown {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#configs-list-tab.sticky-top {
  top: 1rem;
}
