#receipt_wrapper
{
    width:100%;
}

#receipt_header
{
    text-align:center;
}

#company_name
{
    font-size:150%;
    font-weight:bold;
}

#company_name img
{
    max-width: 150px;
    max-height: 150px;
}

#company_phone
{
    margin-bottom:15px;

}

#sale_time
{
    margin-bottom:5px;
}

#receipt_items
{
    position:relative;
    border-collapse:collapse;
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
}

#receipt_items td
{
    position:relative;
    padding:3px; margin-bottom:5px;

}

#receipt_items tr
{
    margin-bottom:5px;
}

#sale_return_policy
{
    width:80%;
    margin:0 auto;
    text-align:center;
}

#receipt_wrapper #barcode
{
    margin-top:10px;
    text-align:center;
}

.total-value
{
    text-align: right;
}

.discount
{
    font-weight: bold;
}
/** 58mm **/
.receipt_wrapper_58 
{
    font-size: 10px;
    width: 58mm;
    max-width: 384px;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.items_58 
{
    width: 100%;
}

.items_58 th, .items td 
{
    text-align: left;
    padding: 2px 0;
}
        
.totals_58 
{
    border-top: 1px dashed #000;
    margin-top: 5px;
    padding-top: 5px;
}

.center_58 {
            text-align: center;
        }
