<footer class="flex-shrink-0 py-3 bg-secondary-subtle text-body-secondary text-center small fw-semibold border-top border-secondary-subtle shadow-sm">
    <div class="{{ site.bs-container }}">
        <div class="fs-3">
            <a class="mx-3" href="{{ site.url-github }}" target="_blank" rel="noopener" data-bs-toggle="tooltip" data-bs-placement="top" title="We're synced with GitHub"><i class="bi-github"></i></a>
            <a class="mx-3" href="{{ site.url-gitter }}" target="_blank" rel="noopener" data-bs-toggle="tooltip" data-bs-placement="top" title="Join our chat on Gitter"><i class="bi-chat"></i></a>
            <a class="mx-3" href="{{ site.url-weblate }}" target="_blank" rel="noopener" data-bs-toggle="tooltip" data-bs-placement="top" title="Help us translate with Weblate"><i class="bi-translate"></i></a>
        </div>
        <hr>
        <div class="d-flex flex-column d-sm-block">
            <span>All rights reserved © 2010 - {{ 'now' | date: "%Y" }}</span><span class="d-none d-sm-inline-block">&nbsp;·&nbsp;</span><span>{{ site.title }}</span>
        </div>
    </div>
</footer>
