/* additional styles placed here */

table.tablesorter
{
	border: 0;	
}

table.tablesorter tbody td
{
	padding: 8px;
}

table.tablesorter tbody td.over
{
	background-color: #F5F5F5;
}

table.tablesorter tbody td.selected
{
	background-color: #ECECEC;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
	padding: 8px;
}

#table_action_header
{
	height: 35px;
	background-color: transparent;
	border: 0;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
	background-color: #999999;
}

#search_filter_section
{
	padding: 5px;
	margin-bottom: 10px;
}

#titleTextImg
{
	background-color: transparent !important;
}

#table_action_header ul li span a
{
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: #aaa;
}

#table_action_header ul li span a:hover
{
	color: #555;
}

@media (min-width: 768px)
{	
	.navbar-nav > li > a
	{
		padding: 10px 10px 9px;
	}
}

@media print
{    
    .no-print, .no-print *
	{
        display: none !important;
    }
}

.modal-dialog
{
	overflow-y: initial !important
}

.modal-body
{
	height: 500px;
	overflow-y: auto;
}