/* additional styles placed here */

body {
	padding-top: 60px;
}
.navbar {
	min-height: 40px;
}
.navbar-brand {
	padding: 10px 15px;
	height: 41px;
}
table.tablesorter {
	border: 0;	
}
table.tablesorter tbody td.over {
	background-color: #F5F5F5;
}
table.tablesorter tbody td.selected {
	background-color: #ECECEC;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	padding: 8px;
}
#table_action_header {
	height: 35px;
	background-color: transparent;
	border: 0;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #18BC9C;
}
#search_filter_section {
	padding: 5px;
	margin-bottom: 10px;
}
#titleTextImg {
	background-color: transparent !important;
}
#table_action_header ul li span a {
	background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: 	#aaa;
}
#table_action_header ul li span a:hover {
    color: 	#555;
}
#title,
#page_title {
	font-size: 32px;
	margin-top: 21px;
    margin-bottom: 10.5px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
#new_button {
	bottom: 5px;
}

@media (min-width: 768px){	
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}